---
import { Image } from "@astrojs/image/components";
import MacOS from "./MacOS";
import "@fontsource/roboto-flex";
import "@fontsource/arvo";
---

<section
    class="py-20 bg-white dark:bg-black dark:border-b dark:border-slate-100"
>
    <div class="max-w-screen-xl mx-auto space-y-24">
        <h1
            class="text-3xl text-black dark:text-white text-center font-semibold"
        >
            Các hoạt động tổ chức tại trường
        </h1>
        <div class="flex space-x-24 text-black dark:text-white">
            <div class="flex w-1/2">
                <div class="flex flex-col space-y-8">
                    <div
                        class="bg-event p-5 rounded-lg flex flex-col space-y-2 activity-event fade"
                    >
                        <div class="flex space-x-4">
                            <div>
                                <Image
                                    src="/assets/activity/amour.png"
                                    width={40}
                                    height={40}
                                    alt="Activity"
                                    class="rounded-full"
                                />
                            </div>
                            <div class="flex flex-col space-y-3">
                                <h1 class="font-semibold text-xl roboto-flex">
                                    Amour - Prom Hoang Hoa Tham
                                </h1>
                                <p class="text-sm roboto-flex content-activity">
                                    Prom lễ hỗi giữa các cặp đôi
                                </p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bg-event p-5 rounded-lg flex flex-col space-y-2 activity-event fade"
                    >
                        <div class="flex space-x-4">
                            <div>
                                <Image
                                    src="/assets/activity/hityourchoice.jpg"
                                    width={40}
                                    height={40}
                                    alt="Activity"
                                    class="rounded-full"
                                />
                            </div>
                            <div class="flex flex-col space-y-3">
                                <h1 class="font-semibold text-xl roboto-flex">
                                    Hit Your Choice
                                </h1>
                                <p class="text-sm roboto-flex content-activity">
                                    Chương trình tư vấn hướng nghiệp dành cho
                                    học sinh khối 12
                                </p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="bg-event p-5 rounded-lg flex flex-col space-y-2 activity-event fade"
                    >
                        <div class="flex space-x-4">
                            <div>
                                <Image
                                    src="/assets/activity/doanhoi.jpg"
                                    width={40}
                                    height={40}
                                    alt="Activity"
                                    class="rounded-full"
                                />
                            </div>
                            <div class="flex flex-col space-y-3">
                                <h1 class="font-semibold text-xl roboto-flex">
                                    Hoạt động đoàn hội
                                </h1>
                                <p class="text-sm roboto-flex content-activity">
                                    Hoạt động đoàn hội, trại 26/3 và các hoạt
                                    động khác
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="relative w-1/2">
                <div class="image-activity fade">
                    <MacOS title="Amour.exe">
                        <div class="window-frame">
                            <Image
                                src="/assets/activity/amourbanner.jpg"
                                alt="Activity 3"
                                width={500}
                                height={312}
                            />
                        </div>
                    </MacOS>
                </div>
                <div class="image-activity fade">
                    <MacOS title="Hityourchoice.exe">
                        <div class="window-frame">
                            <Image
                                src="/assets/activity/hycbanner.jpg"
                                alt="Activity 3"
                                width={560}
                                height={200}
                            />
                        </div>
                    </MacOS>
                </div>
                <div class="image-activity fade">
                    <MacOS title="Doanhoi.exe">
                        <div class="window-frame">
                            <Image
                                src="/assets/activity/doanhoibanner.jpg"
                                alt="Activity 3"
                                width={400}
                                height={312}
                            />
                        </div>
                    </MacOS>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .window-frame {
        width: 560px;
        height: 312px;
        background-color: #282828;
        border-radius: 0 0 14px 14px;
    }
    .window-frame img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .arvo {
        font-family: "Arvo", serif;
    }
    .activity-event {
        transition: all 300ms;
    }
    .image-activity {
        transition: all 300ms;
    }
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fade {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }
    .active {
        background: linear-gradient(
            93.43deg,
            rgba(233, 15, 93, 0.8) 47.17%,
            rgba(217, 217, 217, 0) 94.66%
        );
        transition: all 0.5s ease-in-out;
    }
    .active2 {
        display: block;
    }
    .roboto-flex {
        font-family: "Roboto Flex", sans-serif;
    }
</style>

<script>
    var imageIndex = 0;
    ImageSlider();

    function ImageSlider() {
        var introInfo = document.getElementsByClassName(
            "activity-event"
        ) as HTMLCollectionOf<HTMLElement>;
        var imageEvent = document.getElementsByClassName(
            "image-activity"
        ) as HTMLCollectionOf<HTMLElement>;
        var contentActivity = document.getElementsByClassName(
            "content-activity"
        ) as HTMLCollectionOf<HTMLElement>;

        var i;

        for (i = 0; i < imageEvent.length; i++) {
            imageEvent[i].style.display = "none";
            contentActivity[i].style.display = "none";
        }

        imageIndex++;
        if (imageIndex > imageEvent.length) {
            imageIndex = 1;
        }

        for (i = 0; i < introInfo.length; i++) {
            introInfo[i].className = introInfo[i].className.replace(
                " active",
                ""
            );
        }

        for (i = 0; i < imageEvent.length; i++) {
            imageEvent[imageIndex - 1].style.display = "block";
            contentActivity[imageIndex - 1].style.display = "block";
            break;
        }

        for (i = 0; i < introInfo.length; i++) {
            introInfo[imageIndex - 1].className += " active";
            break;
        }

        setTimeout(ImageSlider, 2000);
    }
</script>
