---
import "@fontsource/arvo";
import "@fontsource/roboto-flex";
import { Image } from "@astrojs/image/components";
export interface Props {
    title?: string;
    slogan?: string;
    subTitle?: string;
    author?: string;
}

const {
    title = "THPT HOÀNG HOA THÁM - ",
    slogan = "NƠI ƯƠM MẦM TÀI NĂNG VIỆT",
    subTitle = "Website chính thức của trường THPT Hoàng Hoa Thám - Khánh Hòa",
    author = "by Anthony Hai",
} = Astro.props;
---

<section class="pt-16 pb-56 bg-white dark:bg-black">
    <div class="max-w-screen-xl mx-auto">
        <div class="flex items-center space-x-24 text-black dark:text-white">
            <div class="text-center md:text-left mx-auto md:flex md:w-1/2">
                <div class="flex flex-col space-y-3">
                    <h1
                        class="text-4xl text-black dark:text-white mb-2 roboto-flex uppercase"
                    >
                        {title}
                    </h1>
                    <h1
                        class="text-4xl text-black dark:text-white mb-5 roboto-flex uppercase"
                    >
                        {slogan}
                    </h1>
                    <p class="text-sm text-black dark:text-white arvo">
                        {subTitle}
                    </p>
                    <p class="text-sm text-black dark:text-white arvo">
                        {author}
                    </p>
                </div>
            </div>
            <div class="hidden md:block md:relative md:w-1/2">
                <Image
                    class="mx-auto rounded-3xl shadow-2xl"
                    src="/assets/background/banner1.jpg"
                    width={140}
                    height={250}
                    alt="Banner"
                />
                <div class="flex items-center space-x-32 pt-5">
                    <Image
                        src="/assets/background/banner2.jpg"
                        width={265}
                        height={170}
                        alt="Banner"
                    />
                    <Image
                        src="/assets/background/banner3.jpg"
                        width={271}
                        height={172}
                        alt="Banner"
                        class="-top-12 rotate-[30deg]"
                    />
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    section {
        background-image: url("/assets/background/connection2x.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right 150px;
        background-origin: content-box, padding-box;
    }
    .arvo {
        font-family: "Arvo", serif;
    }
    .roboto-flex {
        font-family: "Roboto Flex", sans-serif;
    }
</style>
