---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./Toggle";
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";

import "@fontsource/fresca";

export interface Props {
    logo?: string;
}

const { logo = "/assets/logo/logo2x.png" } = Astro.props;
---

<header>
    <nav
        class="sticky top-0 w-full text-white py-6 z-10 bg-white dark:bg-black shadow"
    >
        <div class="flex justify-between max-w-screen-xl mx-auto">
            <div class="flex items-center space-x-28">
                <a href="/" class="flex items-center">
                    <Image
                        src={logo}
                        width={30}
                        height={30}
                        alt="Anthony Hai Logo"
                    />
                    <span class="px-2 fresca text-black dark:text-white"
                        >AnthonyHai</span
                    >
                </a>
            </div>
            <div class="flex items-center space-x-14">
                <ul class="flex space-x-4">
                    <li
                        class="flex items-center px-3 lg:text-black lg:dark:text-white hover:text-white hover:bg-slate-800 hover:py-1 hover:rounded-lg hover:transition-all cursor-pointer text-sm"
                    >
                        <HeaderLink href="/">Trang chủ</HeaderLink>
                    </li>
                    <li
                        class="flex items-center px-3 lg:text-black lg:dark:text-white hover:text-white hover:bg-slate-800 hover:py-1 hover:rounded-lg hover:transition-all cursor-pointer text-sm"
                    >
                        <HeaderLink href="/">Cơ cấu tổ chức</HeaderLink>
                    </li>
                    <li
                        class="flex items-center px-3 lg:text-black lg:dark:text-white hover:text-white hover:bg-slate-800 hover:py-1 hover:rounded-lg hover:transition-all cursor-pointer text-sm"
                    >
                        <HeaderLink href="/">Tin tức</HeaderLink>
                    </li>
                    <li
                        class="flex items-center px-3 lg:text-black lg:dark:text-white hover:text-white hover:bg-slate-800 hover:py-1 hover:rounded-lg hover:transition-all cursor-pointer text-sm"
                    >
                        <HeaderLink href="/">Về tôi</HeaderLink>
                    </li>
                    <li
                        class="flex items-center px-3 lg:text-black lg:dark:text-white cursor-pointer text-sm"
                    >
                        <ThemeToggle client:load />
                    </li>
                    <li
                        class="flex items-center px-3 lg:text-black lg:dark:text-white cursor-pointer text-sm"
                    >
                        <Icon size={16} pack="akar-icons" name="github-fill" />
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<style>
    .fresca {
        font-family: "Fresca", sans-serif;
    }
    #text-hover-gradient:hover li {
        background: linear-gradient(
            111.53deg,
            #bc1b42 29.93%,
            rgba(221, 197, 203, 0) 63.12%
        );
    }
</style>
